@use '../abstracts' as a;

.board {
    width: 100%;
    // height: 500px;
    background-color: var(--bg-game-board);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: a.rem(16);

    &__tile {
        position: relative;
        @include a.flexbox($align: center, $justify: center);
        @include a.bottom-border($width: 8px, $color: var(--border-bottom-menu-main));
        width: 100px;
        height: 100px;
        background-color: var(--bg-game-board-tile);
        border-radius: a.rem(12);

        &--win-X {
            background-color: var(--bg-game-board-tile-win-X);
        }

        &--win-O {
            background-color: var(--bg-game-board-tile-win-O);
        }

        .svg-icon {
            width: a.rem(64);
        }

        @include a.bp($from: "tablet") {
            width: 100%;
            height: 150px;
        }
    }

    @include a.bp($from: "tablet") {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-content: center;
        place-items: center;
    }
}

.filled {
    pointer-events: none;
}

.board__tile.hover-border-X:hover {
    border: 2px solid #31C3BD;
    /* X color */
}

.board__tile.hover-border-O:hover {
    border: 2px solid #F2B137;
    /* O color */
}