@use '../abstracts' as a;

.board {
    width: 100%;
    background-color: var(--bg-game-board);
    display: grid;
    grid: repeat(3, 100px) / repeat(3, 100px);
    gap: a.rem(16);

    &__tile {
        @include a.flexbox($align: center, $justify: center);
        @include a.bottom-border($width: 8px, $color: var(--border-bottom-menu-main));
        position: relative;
        width: a.rem(100);
        height: a.rem(100);
        background-color: var(--bg-game-board-tile);
        border-radius: a.rem(12);
        transition: border 0.2s ease-in-out;

        .svg-icon {
            width: a.rem(64);
        }

        &:hover {
            &.hover-border-X {
                border: 2px solid var(--border-game-board-tile-X);
            }

            &.hover-border-O {
                border: 2px solid var(--border-game-board-tile-O);
            }
        }

        &:focus-visible {
            border: 2px solid var(--grey-500);
            outline: none;
        }

        &--win-X {
            background-color: var(--bg-game-board-tile-win-X);
        }

        &--win-O {
            background-color: var(--bg-game-board-tile-win-O);
        }

        @include a.bp($from: "tablet") {
            width: 100%;
            height: a.rem(150);
        }
    }

    @include a.bp($from: "tablet") {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-content: center;
        place-items: center;
    }
}

.filled {
    pointer-events: none;
}