@use '../abstracts' as a;

.header {
    @include a.flexbox($direction: column, $align: center, $gap: a.rem(32));
    padding-inline: a.rem(20);

    &__buttons {
        @include a.flexbox($align: center, $gap: a.rem(16));
    }

    .turn {
        @include a.flexbox($align: center, $justify: center, $gap: a.rem(12));
        @include a.bottom-border($width: a.rem(5), $color: var(--border-bottom-menu-main));
        color: var(--bg-header-turn-icon);
        background-color: var(--bg-header-turn);
        padding: a.rem(5) a.rem(24);
        border-radius: a.rem(8);

        &__icon svg {
            width: a.rem(20);
        }

        p {
            font-size: var(--fs-medium);
            font-weight: var(--fw-semi-bold);
            text-transform: uppercase;
        }
    }

    .restart-btn {
        @include a.flexbox($align: center, $justify: center);
        @include a.bottom-border($width: a.rem(5), $color: var(--border-bottom-restart-btn));
        width: 50px;
        height: 50px;
        background-color: var(--bg-header-restart-btn);
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: a.rem(8);
        transition: all 200ms ease-in-out;

        &:hover {
            background-color: var(--bg-header-restart-btn-hover);
        }

        &:active {
            border: none;
        }
    }

    .quit-btn {
        @include a.flexbox($align: center, $justify: center);
        @include a.bottom-border($width: a.rem(5), $color: var(--border-bottom-restart-btn));
        width: 50px;
        height: 50px;
        background-color: var(--bg-header-restart-btn);
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: a.rem(8);
        transition: all 200ms ease-in-out;
        color: #1F3641;

        &:hover {
            background-color: var(--bg-header-restart-btn-hover);
        }

        &:active {
            border: none;
        }
    }

    &--game-active {
        @include a.flexbox($align: center, $justify: space-between);
        padding-inline: 0;

        @include a.bp($from: "tablet") {
            @include a.flexbox($align: center, $justify: space-between);
            padding-inline: a.rem(100);
        }
    }

    @include a.bp($from: "desktop") {
        padding-inline: a.rem(300);
    }
}